@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
:root {
    --primary-color: #1F75AD;
    --secondary-color: #FFFFFF;
    --accent1-color: #EFA426;
    --accent2-color: #6D696A;
    --heading-font: 'Heebo', sans-serif;
    --paragraph-font: 'Heebo', sans-serif;
    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--secondary-color);
}

/* main stuff*/
h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    position: absolute;
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

article {
    position: absolute;
    width: 100%;
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

article img {
    width: 250px;
    float: right;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


/*class declarations*/
.hero{
    display: block;
    width:100%;
    height: auto;
    position: relative;
}