@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
:root {
    --primary-color: #1F75AD;
    --secondary-color: #FFFFFF;
    --accent1-color: #EFA426;
    --accent2-color: #6D696A;
    --heading-font: 'Heebo', sans-serif;
    --paragraph-font: 'Heebo', sans-serif;
    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--secondary-color);
}
* {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
/* navagation/header/footer */
nav {
    font-size: 1rem;
    margin: 0;
    display: flex;
}
nav a{
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 2rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    display: flex;
    background-color: var(--nav-background-color);
    margin-top: 1rem;
    position: relative;
}
footer nav a {
    color: var(--secondary-color);
    padding: 1rem;
}
footer p {
    color: var(--secondary-color);
    font-size: small;
    text-align:;
}
header {
    background-color: var(--nav-background-color);
    display: flex;
    margin-bottom: 1px;
}
header img {
    width: 50px;
    height: 75px;
    padding: 1%;
}
section img {
    width: 100px;
    height: auto;
}
section {
    display: grid 100 100 100 100 100}

/* hero */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
}
.heroimg {
    width: 100%;
    height: 100%;
}
h1 {
    position: absolute;
    z-index: 2;
    color: var(--accent2-color);
    top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1rem;
    background-color: var(--secondary-color);    
    opacity: .7;
    font-size: 5vw;
}
article {
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 1rem;
    background-color: var(--accent2-color);
    top: 30%;
    bottom: 30%;
    font-size: auto;
    width: 80%;
    height: auto;
}
article p {
    color: var(--secondary-color);
    width: 80%;
    font-size: 1.8vw;
    padding-right: 8%;

}
article img {
    float: right;
    width: 20%;
    height: auto;
}